/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    min-height: 95vh;
    /* Ensure the body takes at least the viewport height */
}

#calculator-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Align items to the start of the container */
    padding: 20px;
    margin: 0 auto;
    /* Center the container horizontally */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: adds shadow for depth */
    max-width: 1000px;
    /* Ensure container width is suitable */
}

#calculator-container {
    display: flex;
    flex-direction: column;
}

.left-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* Ensure it takes the full width */
}

#input-sections {
    width: 100%;
    margin-right: 10px;
}

.input-section,
.chart-section {
    width: 48%;
    /* Ensure each section takes nearly half of the width */
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-container label {

    flex: 0 0 180px;
    text-align: left;
    /* Align label text to the left */
    padding-right: 10px;
    white-space: nowrap;
    /* Prevent text wrapping */
}


.input-container input,
.input-container select {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 80px;
    /* Ensure all fields are the same width */
    box-sizing: border-box;
    /* Ensure padding and border are included in the width */
}

#input-sections {
    flex: 1;
    margin-right: 10px;
    /* Adjust space between input sections and chart */
}



#resetButton {
    background-color: #03a678;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

#resetButton:hover {
    background-color: #35b793;
}

/* Update the color of the text line */
#monthlyDeposit {
    color: #238870;

    margin-top: 20px;
}


.chart-section {
    text-align: center;
}

.results-section {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer button {
    padding: 10px;
    cursor: pointer;
}

.logo-container {
    margin-top: 20px;
}

.logo {
    margin-top: 20px;
    width: 200px;
    /* Adjust size as needed */
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    #calculator-container {
        flex-direction: column;
        align-items: center;
    }

    #input-sections,
    #chart-section {
        width: 100%;
        margin-bottom: 20px;
    }
}



.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: Center;
    margin-bottom: 20px;
    font-size: 24px;
    /* Adjust font size as needed */
    color: #333;
    font-family: 'Georgia', serif;
    /* Adjust the font family as needed */
}

h2 {
    font-size: 20px;
    font-family: 'Georgia', serif;
    color: #333;
    margin-bottom: 10px;
}





#chart-section {
    width: 400px;
    background-color: #fff;
    /* Sets the background color to white */
    border-radius: 8px;
    /* Rounds the corners of the chart container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow for depth */
    padding: 20px;
    /* Adds padding inside the chart container */
    margin: 20px 0;
    /* Adds vertical spacing around the chart container */
    text-align: center;
    /* Centers the title and the canvas within the section */
}

#chart-section h2 {
    margin-bottom: 20px;
    /* Spacing below the chart title */
}

canvas {
    width: 100% !important;
    /* Overrides any inline width to ensure it's full width */
    height: auto !important;
    /* Maintains aspect ratio */
    margin-bottom: 20px;
    /* Spacing below the chart before any legends or buttons */
    border-radius: 8px;
    /* Rounded corners for canvas/chart */
}

button {
    padding: 10px 20px;
    background-color: #03a678;
    color: white;
    border: none;
    border-radius: 4px;
    /* Rounded corners for button */
    cursor: pointer;
}

button:hover {
    background-color: #35b793;
}

.result-item {
    color: #35b793;
    /* Color for the text */
}

.results-section {
    font-size: 16px;
    color: #333;
}

.results-section p {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    /* Add margin to create space between lines */
}



.results-section .total-amount span {
    color: #03a678;
    /* Ensure total amount is green */
    font-weight: bold;

}


.note {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
    font-size: 14px;
    color: #333;
    max-width: 800px;
    /* Ensures it doesn't exceed container width */
    word-wrap: break-word;
    /* Allows breaking at any word */
}

.note p {
    margin: 0;
    line-height: 1.5;
    /* Adjust for better readability */
}

@media (max-width: 768px) {
    .left-sections {
        flex-direction: column;
        align-items: center;
    }

    .input-section,
    .chart-section {
        width: 100%;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    bottom: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content ul li {
    margin-bottom: 10px;
    /* Adjust the value as needed */
}

.modal-content hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-bottom: 20px;
    /* Adjust the spacing as needed */
}