/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

#calculator-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

#calculator-container {
    display: flex;
    flex-direction: column;
}

.left-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#input-sections {
    width: 100%;
    margin-right: 10px;
}

.input-section,
.chart-section {
    width: 48%;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-container label {
    flex: 0 0 180px;
    text-align: left;
    padding-right: 10px;
    white-space: nowrap;
}

.input-container input,
.input-container select {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 80px;
    box-sizing: border-box;
}

#input-sections {
    flex: 1;
    margin-right: 10px;
}

#resetButton {
    background-color: #3cbcdb; /* Replaced with blue */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

#resetButton:hover {
    background-color: #60efe8; /* Replaced with light blue */
}

/* Update the color of the text line */
#monthlyDeposit {
    color: #3cbcdb; /* Replaced with blue */
    margin-top: 20px;
}

.chart-section {
    text-align: center;
}

.results-section {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer button {
    padding: 10px;
    cursor: pointer;
}

.logo-container {
    margin-top: 20px;
}

.logo {
    margin-top: 20px;
    width: 250px;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    #calculator-container {
        flex-direction: column;
        align-items: center;
    }

    #input-sections,
    #chart-section {
        width: 100%;
        margin-bottom: 20px;
    }
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-family: 'Georgia', serif;
}

h2 {
    font-size: 20px;
    font-family: 'Georgia', serif;
    color: #333;
    margin-bottom: 10px;
}

#chart-section {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

#chart-section h2 {
    margin-bottom: 20px;
}

canvas {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: #3cbed8; /* Replaced with medium blue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #60efe8; /* Replaced with light blue */
}

.result-item {
    color: #3cbcdb; /* Replaced with blue */
}

.results-section {
    font-size: 16px;
    color: #333;
}

.results-section p {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.results-section .total-amount span {
    color: #3cbcdb; /* Replaced with blue */
    font-weight: bold;
}

.note {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
    font-size: 14px;
    color: #333;
    max-width: 800px;
    word-wrap: break-word;
}

.note p {
    margin: 0;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .left-sections {
        flex-direction: column;
        align-items: center;
    }

    .input-section,
    .chart-section {
        width: 100%;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    bottom: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content ul li {
    margin-bottom: 10px;
}

.modal-content hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-bottom: 20px;
}
